.button {
  padding: 10px 20px;
  font-family: var(--font);
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--color-outline);
  border-radius: 5px;
  transition: background-color 0.3s;

  @media (max-width: 325px) {
    padding: 10px;
  }

  &:hover {
    background-color: var(--color-outline);
  }

  &__secondary {
    border-color: transparent;
  }
}
