.title {
  margin-top: 0;
  padding-bottom: 20px;
  padding-right: 60px;
  padding-left: 25px;
  font-family: var(--font);
  font-weight: 500;
  font-size: 18px;
  color: var(--color-dark-600);
  border-bottom: 1px solid var(--color-outline);
}
