.wrapper {
  max-height: 44px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border: none;

  @media (max-width: 639px) {
    min-height: 44px;
  }
}

.input {
  margin: 0;
  max-width: 90px;
  position: relative;
  padding-left: 10px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-dark-600);
  text-align: center;
  border: 1px solid var(--color-outline);
  border-radius: 0;
  appearance: none;
  -moz-appearance: textfield;

  @media (max-width: 639px) {
    max-width: 150px;
  }
  @media (max-width: 325px) {
    max-width: 130px;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus-visible {
    outline: 1px solid var(--color-accent);
  }
}

.label {
  min-width: 55px;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  background-color: var(--color-outline);
  border: 1px solid var(--color-outline);
  border-left: none;
}

.control {
  margin: 0;
  padding: 10px 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;
  color: white;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.control__decrement {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.control__increment {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
