.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px 5px 50px;
  display: flex;
  background-color: var(--color-dark-fade);
  z-index: 2;
  overflow-y: auto;
}
